// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//CUSTOM SCSS
.client-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .client-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        .client-funds {
            display: flex;
            align-items: center;
            font-weight: bold;
            letter-spacing: 2px;
            padding-right: 20px;
        }
    }
}

.client-accounts{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    .client-account{
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
        &-info{
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
        }
        .buttons {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            
        }
    }
}

.modal {
    display: block;
    background-color: rgba(0, 0, 0, 0.226);
}

.sort-filter-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    height: 100%;
    position: relative;
    button,
    a {
        top: -6px;
        position: relative;
    }
}